
// global settings

*
  box-sizing border-box
  // box-shadow 0px 0px 4px hsl(0,0,70)

// layout here

body
  margin 0px
  // padding-left 80px
  background hsl(300,80,10)
  color white
  
#main
  display -webkit-flex
  -webkit-flex-flow row
  // width 1200px
  // height 800px
  margin 0px auto

  #side
    width 100px

  #center
    position relative

    #cover
      position absolute
      top 0px
      left 0px

  #options
    width 300px

    div
      margin 10px 0px
      padding-left 8px

.drag
  width 16px
  height 16px
  line-height 16px
  font-size 12px
  position absolute

// colors here

.drag
  font-family Monaco
  border-radius 8px
  color white
  cursor move
  // -webkit-transition-duration 0.1s
  user-select none
  -webkit-user-select none

  &:hover
    // box-shadow 0px 0px 8px hsl(0,0,70)
    -webkit-transform scale(2)

#options
  font-family Monaco
  cursor pointer
  color hsl(0,70,80)

  div

    &:hover
      color hsl(0,0,100)

.current
  text-shadow 0px 0px 10px white
  cursor pointer
  -webkit-transform scale(2)