
// global settings

*
  box-sizing border-box
  box-shadow 0px 0px 4px hsl(0,0,70)

// layout here

body
  margin 0px
  
#main
  display -webkit-flex
  -webkit-flex-flow row
  width 1200px
  height 600px
  margin 0px auto

  #side
    width 200px

  #center
    width 700px
    position relative

    #cover
      position absolute
      top 0px
      left 0px
      width 100%
      height 100%

  #options
    width 300px

.drop
  width 20px
  height 20px
  font-size 12px
  position absolute

// colors here

.drop
  font-family Monaco
  background hsl(240,80,80)
  border-radius 8px
  color white
  padding 3px
  cursor move
  // -webkit-transition-duration 0.1s
  user-select none
  -webkit-user-select none

  &:hover
    box-shadow 0px 0px 8px hsl(0,0,70)
    -webkit-transform scale(1.1)